pytube == 15.0.0
pydub == 0.25.1
openai-whisper == 20230918
torch == 2.1.0
chunkipy == 0.0.3
transformers == 4.33.3
torchaudio == 2.1.0
speechbrain == 0.5.15
langchain == 0.0.300
chromadb == 0.4.12
regex == 2023.8.8
tqdm == 4.66.1
gpt4all == 1.0.9
PyPDF2 == 3.0.1
telegram == 0.0.1
python-telegram-bot == 20.5
llama-cpp-python==0.1.81
sentence_transformers==2.2.2
python-dotenv==1.0.0
torchvision == 0.16.0
pillow == 9.0.1
